#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
  font-family:'Times New Roman', Times, serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.description{
  margin-top: 15px;
  margin-bottom: 10px;
}

.read-the-docs {
  color: #888;
}

.funny {
  width: 500px;
  height: 300px;
  background-color: yellow;
  border: 5px solid red;
  display: flex;
  
  
}

.card {
  width: 100%;
  height: 100%;
  background-color: green;
}

.full {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fun-buttons {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 50px;
  margin-top: 10px;
}

.leftbutton {
  width: 50%;
  background-color: red;
  margin-right: 20px;
  height: 100%;
}

.rightbutton {
  width: 50%;
  background-color: green;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.word_count {
  margin-bottom: 10px;
}

.card {
  padding: 2em;
  font-weight: bold;
  font-size: 30px;
}
